/* ===================================================== 
   Reset minimal
   ===================================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	scrollbar-width: none;
	scroll-behavior: smooth;
}


:root {
	--couleur-primaire : #001a33; 
	--couleur-secondaire : #F28CBA;
	--couleur-accent: #7ab3eb;
	--couleur-hover: #EC5197;
	--background-color: snow;
	
	--header-height : 5vh;
	--footer-height: 7vh;
    
    --couleur-texte: #000000;

	--dark-couleur-texte: #dbdbdb;
	--dark-background-color: #001a33;
	--dark-background-card-color: linen;
    --code-bg: #eef1f7;
    --dark-code-bg: #141D38;
}


a {
	text-decoration : none ; 
	color : var(--couleur-primaire) ; 
}


body {
	font-family: "Nunito", sans-serif;
	align-items: center ; 
	background-color: var(--background-color); 
	height: 100vh;
	overflow: auto; 
	overflow-x: hidden;
	min-width: 250px;
}


body.dark {
	/*
	background-color: var(--couleur-primaire);
	color: white;
    */
	background-color: var(--dark-background-color);
	text-shadow:0 0 2px rgba(0,255,65,.15);
	/*font-family: "JetBrains Mono", monospace;*/
	cursor: crosshair;
	color: var(--dark-couleur-texte);
}


body.dark button {
	/*border: solid 1px #00CC33;*/
	/* border-radius: 0px; */
	background-color: var(--dark-background-card-color);
	color: dimgray;
}

/*

body.dark aside,
aside.dark {
    background-color: var(--couleur-primaire);
}

*/
body.dark .card {
	/*border: solid 1px #00CC33;*/
	background-color: var(--dark-background-card-color);
	/*box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); */
	color: dimgray;
}

body.dark .navbar {
	background-color : var(--dark-background-color);
}

body.dark .card-label {
		color: var(--dark-couleur-texte);
}
	
	
button {
	
	display: flex;
	flex-direction: row;
    align-items: center; 
	justify-content: space-evenly; 
	align-self: flex-end;  
	/*border: solid 1px ;*/
    border-radius: 8px;
    width: 150px;
    min-width: 150px;
	max-width: 150px;
	height: 40px;
	min-height: 40px;
	padding : 0 15px 0 15px ;
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
	border: 0px;
	border-radius: 6px;
    transition: transform .15s ease,
                background .2s ease,
                box-shadow .2s ease;
	box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3),
		inset 2px 2px 1px rgba(255, 255, 255, 0.8);

	/* transition: background-color 0.2s ease; */
	text-decoration: none;
	background: var(--couleur-secondaire);
	color: white;
	/* margin-top: 1%; */
}

button:hover {
	background-color: var(--couleur-hover);
	cursor: pointer;
	text-decoration: none;
	color: white;
	transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,.25);
}

.card {
	display: flex ; 
	flex-wrap: wrap ; 
	width: 160px ;
	height: 110px;
	background-color: white ;
	color: black; 
	/*border: 2px solid var(--border-color);*/
	border-radius: 20px ; 
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4) ;
	justify-content: center ; 
	align-items: center ; 
	text-align: center ; 
	margin-bottom: 10px ;
	font-weight: bold ; 
	font-size: 1.2em;
	transition: all 0.4s ease;
}
	
.card:hover {
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


 .card:active { 
     transform: translateY(8px); 
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
 }


.card-label {
    display: block;
    font-size: 12px;
    color: var(--couleur-primaire);
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.3px;
}


.center {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

code {
  background: var(--code-bg);
  color: var(--couleur-primaire);
  padding: 3px 7px;
  border-radius: 5px;
  font-family: "Consolas", "Courier New", monospace;
  font-size: .9rem;
  border-left: 3px solid var(--couleur-secondaire);
}

.colors {
	display : flex;
	flex-direction : row ;	
	flex-wrap: wrap;
	justify-content: center;
	gap : 15px;
	width : 100%;
	/* overflow-x : hidden; */
}

.color-label {
	/* margin: 3px; */
	color: white; 
	border-radius: 8px ;
	min-width : 80px; 	
	/* width: auto; */
	/* max-width: 90%;  */
	min-height: 30px;
	padding: 1%;  
	text-align: center;
	display: flex ;
	/* flex-direction: column; */
	justify-content: center; 
	font-size: 0.8rem;
	font-weight: bold;
}



.display_row, .display_column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; /*alignement vertical*/
    align-self: center; /*alignement horizontal*/
    width: 100%; /* occupe toute la largeur disponible sur la page */
}

.display_column {
    flex-direction: column;
}



footer {
	display: flex;
	position: sticky;
	left: 0;
	bottom: 0; 
	color: var(--background-color); 
	background-color: var(--couleur-primaire); 
	width: 100%;
	height: var(--footer-height);
    min-height: var(--footer-height);
	justify-content: center ; /*aligment horizontal*/
	align-items: center;  /* alignement vertical*/
}

header {
  min-height: var(--header-height);
  padding: 10px;
  background-color: var(--couleur-primaire);
  color: var(--couleur-secondaire);
  display: flex ;
  flex-direction: row ;
  justify-content: space-between;
  align-items: center;
}

header > img {
	max-width: 110px;
	height: auto;
}
	
h1 {
	/* padding: 3px; */
	text-align: center; 
	font-family: "Audiowide", sans-serif;
	/* -webkit-text-stroke: 0.1px white; */
	/* text-shadow: 0 0 3px ghostwhite; */
	/* font-weight: 800; */
	font-size: 1.5em;
	/*animation: logoPulse 5s infinite ease-in-out;*/
}

h3 {
	margin-top: 22px;
	margin-bottom: 10px;
	color: var(--couleur-secondaire);
	font-size: .95rem;
	border-bottom: 2px solid var(--couleur-accent);
	padding-bottom: 5px;
}


img {
  border-radius : 5px;
  padding : 5px;
  width: auto;
  object-fit: cover;
  max-width : 100%;
  height : auto;
  max-height : 100%;
}

kbd {
  display: inline-block;
  padding: 3px 8px;
  font-family: "Consolas", monospace;
  font-size: .85rem;
  font-weight: bold;
  color: var(--couleur-primaire);
  background: #fff;
  border: 1px solid #bfc5d3;
  border-radius: 5px;
  box-shadow:
    0 2px 0 #bfc5d3;
}




 li {
  margin-bottom: 9px;
  color: var(--couleur-texte);
  line-height: 1.4;
	font-size: 0.9em ;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "Comfortaa", sans-serif;
	letter-spacing: 5%;
	font-size: 2.5em;
	animation:
	hologram 8s infinite;
}
/*
.chevron {
	-webkit-text-stroke: 0.2px white;
	color: var(--couleur-secondaire);
	font-weight: 700;
	font-size: 3rem;
}
*/
.orima {
	color: var(--background-color);
	margin-left: 0.3em;
}

.works {
	color: var(--couleur-secondaire);
	margin-left: 0.3em;
}

@keyframes logoPulse {

	0%, 100% {
		transform: scale(1);
		filter: drop-shadow(0 0 2px var(--secondary-color));
	}

	50% {
		transform: scale(1.03);
		filter: drop-shadow(0 0 12px var(--secondary-color));
	}

}

@keyframes hologram {

	0%,100% {
		opacity:1;
		filter:
		drop-shadow(0 0 5px var(--couleur-secondaire));
	}

	50% {
		opacity:.85;
		filter:
		drop-shadow(0 0 20px var(--couleur-secondaire));
	}
}



main {
	display : flex ; 
	flex-direction : row ; 
	width : 100%;
    min-height: calc(100vh - var(--header-height));
	overflow-y: auto; 
	justify-content : center; 
	padding: 2%;
}

.message {
	display: flex;
	justify-content: center;
	min-height: 25px;
	width : 100%;
	background-color: var(--couleur-secondaire);
	color: var(--couleur-primaire);
	border-bottom: solid 2px var(--couleur-primaire);
	animation: message 5s ease forwards;
	z-index: 9999;
}



@keyframes message {
	0% {
		opacity: 0;
	}	
	
	5% {
		opacity: 1;
	}
	
	70% {
		opacity: 1;
	}	
	
	100% {
		opacity: 0;
	}
}

/* =====================================================
						NAVBAR
===================================================== */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 12px;
    background-color: whitesmoke;
    /* background: var(--couleur-secondaire); */
	border-bottom : ridge 3px var(--couleur-primaire);
    /*border-radius: 12px;*/
    /*margin: 0 15px 20px;*/
}


/*
.navbar a,
.navbar button {
    display: flex;
	flex-direction: row;
    align-items: center; /*alignement vertical 
	justify-content: space-evenly; /*alignement horizontal 
	align-self: flex-end;  
	border: solid 1px var(--border-color);
    border-radius: 8px;
    min-width: 150px;
	max-width: 150px;
	padding : 0 15px 0 15px ;
    width : auto;
	height: 40px;
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: transform .15s ease,
                background .2s ease,
                box-shadow .2s ease;
}

.navbar a:hover,
.navbar button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,.25);
}

.navbar a:active,
.navbar button:active {
    transform: scale(.97);
}
*/

/* ===================================================== */


/* 	=====================================================
							MODALE 
	===================================================== */
dialog {
    border: none;
	scrollbar-width: none;
    background-color: var(--background-color);
    border-radius: 12px;
    padding: 1.5rem;
    /* width: min(600px, 90vw); */
    width: auto;
    /* min-width: 80vw; */
	overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,.35);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    max-height: 90vh;
}


dialog::backdrop {
    background: rgba(0,0,0,.55);
    backdrop-filter: blur(2px);
}

dialog h2,
dialog h3 {
	margin-top : 3%;
	margin-bottom : 2%;
}


dialog button {
	position: fixed;
	top: 10px;
	right: 10px;
}



#numTiers {
	width: 50vw;
}

#cheatSheets {
	min-width : 500px;;
}

/* 	================================================== */

pre {
	background: var(--dark-code-bg);
	color: #ffffff;
	padding: 14px;
	border-radius: 8px;
	overflow-x: auto;
	font-family: "Consolas", "Courier New", monospace;
	font-size: .85rem;
	line-height: 1.5;
	border-left: 4px solid var(--couleur-secondaire);
}

/* p { */
	/* margin-top : 10px; */
/* } */

section {
	display : flex ; 
	flex: 1; 
	flex-wrap : wrap;
	flex-direction : row ; 
	align-items : space-between ; 
	align-content : space-evenly ;
	justify-content: space-evenly ; 
	padding : 15px;             
	right: 0;
	gap : 30px ; 
}

/* 	=====================================================
						SELECTION TEXTE
	===================================================== */
code::selection,
pre::selection {
  background: var(--couleur-secondaire);
  color: var(--couleur-primaire);
}
/* 	===================================================== */


 ul {
	padding-left: 20px;
	list-style: none;
}


/*  ===================================================== 
				BOUTON SWITCH DARK MODE 
	===================================================== */
	
.switch {
	position: relative ; 
	display: inline-block ;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute; 
	cursor: pointer ; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--couleur-secondaire);
	-webkit-transition: .4s;
	transition: .4s;
		
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color : white; 
	-webkit-transition : .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: var(--couleur-primaire);
	outline: 2px solid var(--couleur-secondaire);
    outline-offset: 2px; /* espace entre le slider et la bordure */;
}

input:focus + .slider {
	box-shadow : 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform : translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);

}

.slider.round {
	border-radius: 34px;

}

.slider.round:before {
	border-radius: 50%;
		/* border : solid 1px var(--border-color); */
		border : solid 1px var(--couleur-primaire);
}
/* ===================================================== */
    table {
      width: 100%;
      border-collapse: collapse;
    }
    td, th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    th {
      background: #f0f0f0;
      text-align: left;
    }










.separator {
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


/* =====================================================
		Tablette (portrait) – largeur ≤ 1024 px
   ===================================================== */
@media (max-width: 1024px) {
    .card {
		width : 130px ;
		height : 100px;
    }

	section {
		padding : 0;
		gap : 15px;
	}

	dialog {
		min-width: 99vw;
	}
}


@media(max-width:768px) {
	
	.card {
		width : 110px ;
		height : 90px;
		font-size : 0.8em;
		border-radius: 10px;
    }
	
	section {
		padding : 3;
		gap: 15px;
	}
	
	.navbar{
		font-size: 0.8em;
		justify-content : space-evenly;
	}
	
	.navbar button {
		display: flex;
		justify-content: space-evenly;
	}
	
	dialog {
		min-width: 99vw;
	}	
	h1{
		display: none;
	}
}

